.modal-content-projects {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80%;
}

.project-card {
    flex: 2;
    background-color: black;
    margin: 5px;
    height: 90%;
    flex-direction: column;
}

.project-body {
    background-color: grey;
    margin: 0px 5% 3% 5%;
    height: 70%;
}